[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
tencentcloud-sdk-python = "*"
pillow = "*"
flask-cors = "*"
tencentcloud-sdk-python-common = "*"
tencentcloud-sdk-python-cvm = "*"

[dev-packages]

[requires]
python_version = "3.8"
